#listCervejas.ativada{
    display: none;
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#listCervejas.desativada {
    animation-name: fadeout;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


@keyframes fadeout {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}